.task {
    background-color: var(--gray-500);
    padding: 1rem;
    border: 1px solid var(--gray-400);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: flex-start;

    font-size: 0.875rem;
    color: var(--gray-100);
}

.taskDone {
    background-color: var(--gray-500);
    padding: 1rem;
    border: none;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: flex-start;

    font-size: 0.875rem;
    color: var(--gray-100);
}

.task p {
    width: 39.5rem;
}

.check[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid var(--blue);
    cursor: pointer;

    transition: background-color 0.3s;
}

.check[type="checkbox"]:not(:checked):hover {
    background-color: var(--blue-dark);
    opacity: 0.4;
}

.check[type="checkbox"]:checked {
    border: none;
    background: url(../assets/checked-logo.svg) no-repeat center;
    background-size: contain;

    transition: background-image 0.3s;
}

.check[type="checkbox"]:checked:hover {
    background: url(../assets/checked-hover-logo.svg) no-repeat center;
    background-size: contain;
}

.trashButton {
    background-color: transparent;
    border: none;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
    padding: 0.1rem;

    transition: background-color 0.3s, color 0.3s;
}

.trashButton:hover {
    background-color: var(--gray-400);
    color: var(--danger);
}

.done {
    text-decoration: line-through;
    width: 39.5rem;
}